.gooey-wrapper {
    filter: url('#goo');
}

.gooey-button {
    position: relative;
    cursor: pointer;
    border: none;
    background: transparent;
    z-index: 0;
    display: inline-block;
}

.gooey-button-face {
    position: relative;
    z-index: 2;
    display: inline-block;
}

.gooey-button:before,
.gooey-button:after {
    width: 4.4em;
    height: 2.95em;
    position: absolute;
    content: "";
    display: inline-block;
    border-radius: 50%;
    transition: transform 1s ease;
    transform: scale(0);
    z-index: 1;
}

.gooey-button.gooey-orange:before,
.gooey-button.gooey-orange:after {
    background: #E85D04;;
}

.gooey-button:before {
    top: -25%;
    left: 20%;
}

.gooey-button:after {
    bottom: -25%;
    right: 20%;
}

.gooey-button:hover:before,
.gooey-button:hover:after {
    transform: scale(1);
}